!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = head_meta
    = flowplayer
  %body.bp
    .container
      = header
      #main-content.postspage
        .title
          .header The post-chain for post #
            = post_id
        %ol.posts
          :foreach{ array: posts, value: "post" }
            %li.post{id:post.columns.id+"", class: (post.columns.id==post_id)?'special':''}
              =get_media(post.columns.filename, post.columns.mediatype)
              #content= post.columns.content
              %ul.meta
                %li Posted at 
                  =pretty_date(post.columns.creation_date)
                  &nbsp;by 
                  %a{href:"/users/"+post.user.columns.username}
                    =post.user.columns.username
                %li
                  Actions: 
                  %a{href:sprintf("/posts/%d",post.columns.id)}
                    Post Chain
                  :if{condition:this['user']}
                    &nbsp;
                    %a{href:sprintf("/users/%s/%d",user.columns.username, post.columns.id)}
                      Respond to this post

