!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = head_meta
    = flowplayer
  %body.bp
    .container
      = header
      #main-content.homepage
        :if{condition: 'flash' in this && flash != ''}
          .note= flash
        %form#searchform{ action: "#", method: "post", enctype: "multipart/form-data" }
          %input#search{ type: "text", name: "query", value: this['query'] || '' }
          %input#submit{ type: "submit", value: "Search" }
        :if{condition: !this['query']}
          #about=home_text
        :if{condition: this['posts']}
          %ol.posts
            :foreach{ array: posts, value: "post" }
              %li.post{id:post.columns.id+""}
                =get_media(post.columns.filename, post.columns.mediatype)
                #content= post.columns.content
                %ul.meta
                  %li Posted at 
                    =pretty_date(post.columns.creation_date)
                    &nbsp;by 
                    %a{href:"/users/"+post.user.columns.username}
                      =(post.user.columns.username==user.columns.username)?"you":post.user.columns.username
                  %li
                    Actions: 
                    %a{href:sprintf("/posts/%d",post.columns.id)}
                      Post Chain
                    :if{condition:this['user']}
                      &nbsp;
                      %a{href:sprintf("/users/%s/%d",user.columns.username, post.columns.id)}
                        Respond to this post
