!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = head_meta
  %body.bp
    .container
      = header
      #main-content.userpage
        = users_title
        :if{condition: userpage}
          :if{condition: 'flash' in this && flash != ''}
            .note= flash
          %form#postform{ action: "/posts/create", method: "post", enctype: "multipart/form-data" }
            %h3 What's happening?
            %textarea#content{ name: "content" }
            %input#tags{ type: "text", name: "tags", value: "Comma-delimited tags" }
            %label Private?
            %input#private{ type: "checkbox", name: "private" }
            %label Upload a media file too
            %input#file{ type: "file", name: "file" }
            %input#submit{ type: "submit", value: "Shout!" }
        %ol.posts
          :foreach{ array: posts, value: "post" }
            %li.post{id:post.columns.id+""}
              #content= post.columns.content
              %ul.meta
                %li Posted at 
                  =pretty_date(post.columns.creation_date)
                  :if{condition: userpage}
                    &nbsp;by 
                    %a{href:"/users/"+post.user.columns.username}
                      =(post.user.columns.username==user.columns.username)?"you":post.user.columns.username
                    :if{condition:post.user.columns.id==user.columns.id}
                      &nbsp;
                      %a{href:"/posts/delete/"+post.columns.id}
                        remove post
