!!! strict
%html{ xmlns: "http://www.w3.org/1999/xhtml" }
  %head
    %title= page_title
    = head_meta
  %body.bp
    .container
      = header
      #main-content.userpage
        = users_title
        :if{condition: userpage}
          %form#postform{ action: "/posts/create", method: "post", enctype: "multipart/form-data" }
            %h3 What's happening?
            %textarea#content{ name: "content" }
            %br
            %input#tags{ type: "text", name: "tags", value: "Comma-delimited tags" }
            %br
            %label Private?
            %input#private{ type: "checkbox", name: "private" }
            %input#submit{ type: "submit", value: "Shout!" }
        %ol.posts
          :foreach{ array: posts, value: "post" }
            %li.post{id:post.columns.id+""}
              #content= post.columns.content
              %ul.meta
                %li Posted at 
                  =post.columns.creation_date
                :if{condition: userpage}
                  %li Posted by 
                    %a{href:"/users/"+post.user.columns.username}
                      =post.user.columns.username
